<?xml version='1.0' encoding='utf-8'?>
<widget id="org.coop.sodexowatcher" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SodexoWatcher</name>
    <description>
        Watch your favorite restaurant occupancy
    </description>
    <author email="your.email@gmail.com" href="http://cordova.io">
        Oliver GG
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
